In [1]:
2+3

5

In [2]:
2*3

6

P*R*T / 100

p principal
r rate 
t time

In [3]:
1000*7.5*3/100

225.0

In [4]:
1500*7.9*1/100

118.5

In [0]:
principal = 1500
time = 1
rate = 7.5
name = "Ashutosh Singh"

Variables are boxes in python 
a box can contain any value 

## How to define variable 

variable_name = value 

Variable name 

1. Should be 1 word 
2. letter, numbers aur _ : ashutosh_singh_24
3. Can't start with numbers  --> 24_ashutosh not ok, _ashutosh ok, 

keywords ---> special word in python which do specific task.

Integers - e.g 0 , 1 ,2 -1,-3, 5, 22767, 32656, 65535,

Floats e.g. - 1.0, 2.4 .34232344334.65374982743

Strings e.g- "ashutosh", 'ashutosh', '25',''23''

### Operator 

```
name = "ashutosh"

age = 28 

salary = 1575013.27
```

|operator | name |
|--------------|------------|
|=| assignment operator|
|+| addition operator |
|-| subtraction operator |
|*| multiplication operator 
|/| division operator
|//| integer division 
|%| remainder operator / modulus operator 
|**| exponenet operator / power karne wala (^) in other languages

In [5]:
28+1

29

In [0]:
age=28

In [8]:
age+1

29

In [9]:
age-1

27

In [10]:
age*2

56

In [11]:
age/2

14.0

In [12]:
age // 2

14

In [13]:
age % 10

8

In [14]:
num = 2 
num**5

32

In [15]:
name = "ashutosh"
name*2

'ashutoshashutosh'

In [0]:
name = name*2

In [18]:
name

'ashutoshashutosh'

In [19]:
name / 2

TypeError: ignored

In [0]:
# single line comment 

# the line below with multiply name by 2 or copy the name 2 times 
name = name * 2

In [21]:
name

'ashutoshashutoshashutoshashutosh'

In [22]:
print(name)

ashutoshashutoshashutoshashutosh

In [23]:
'''

This is multiline comment 
This is the next line in the multiline comment 


'''

# this is single line comment 
ok this is next lin

SyntaxError: ignored